@use '@/styles/partials/_variables.scss' as vars;
.navbar__nav {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .navbar__nav__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 68px;
            &:last-of-type {
                max-width: 100%;
            }
        }
    }
    .navbar__nav__link {
        color: vars.$dark-theme-10;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 133%;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }
    .active_li {
        color: vars.$dark-theme-white;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 133%;
    }
    .language {
        &__list {
            display: flex;
            flex-direction: column;
        }
        &__item {
        }
        &__btn {
            color: vars.$dark-theme-white;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 133%;
            text-align: left;
            cursor: pointer;
        }
    }
    .effect {
        &:hover {
            background-color: #0056b3;
            transform: scale(1.03);
        }
    }
}
