/node_modules/
.eslint.json
.prettierrc.json
.prettierignore
.DS_Store
.package-lock.json
/src/.DS_Store
/.vscode
/dist/
/dist/index.html
node_modules
stats.html
.env.local
.env

# Admin files - секретные файлы администратора
src/components/Admin/
src/pages/AdminPage.tsx
src/shared/styles/components/Admin/
src/utils/seedData.ts

# Admin API routes
/admin
