@use '../partials/_variables.scss' as vars;

.info {
    .container {
        margin-top: 140px;
        border-top: 1px solid vars.$dark-theme-50;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
        max-width: 725px;
        margin-right: 15px;

        &:last-of-type {
            margin: 0;
        }
    }

    &__item {
        padding-bottom: 7px;
    }

    &__title {
        font-family: Inter;
        font-size: 28px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }

    &__text {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
    }

    &__subtitle {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
        padding-bottom: 7px;
    }

    &__description {
        margin-bottom: 8px;
    }

    &__img-container {
        width: 500px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
